body{

	background-color: #F5F5DC;
	color:#696969;

}

p{
	color:#483D8B;
	font-weight: bold;

}

h1{
	
	text-align:center;
	text-transform:uppercase;
}

h2{

text-align: center;
text-transform:uppercase;

}